@model BuffaloTungsten.Models.UploadViewModel
@{
    ViewBag.Title = "Upload";
}

<h2>UploadInventory</h2>

@using (Html.BeginForm("Upload", "Inventory", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-group">
        @Html.Label("Inventory File", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.LabelFor(m => m.SelectedCategoryId)
            @Html.DropDownListFor(m => m.SelectedCategoryId, Model.Products)
            @Html.ValidationMessageFor(m => m.SelectedCategoryId)

            @Html.LabelFor(m => m.ExcelFile)
            @Html.ValidationMessageFor(m => m.ExcelFile)
            @Html.TextBoxFor(m => m.ExcelFile, new { type = "file", name = "Files" })<br /><br />
            @*<input type="file" id="InventoryFile" name="file" />*@
            <input type="submit" value="Submit" />
        </div>
    </div>
}